/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #00ff00;
  background-image: url('background3.webp'); 
  /* background: linear-gradient(black, rgb(29, 29, 29)); */
  background-size: cover;
  background-position: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
